/* InferencePage.css 변경 */

.inference-container {
  display: flex;
  flex-direction: column;
}

.inference-block {
  display: block;
  margin-top: 10px;
}

.inference-block:first-child {
  margin-top: 0;
}
