/* SignForm.css */

.sign-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .sign-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .sign-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .sign-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .sign-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .sign-form button:hover {
    background-color: #0056b3;
  }
  
  /* SignUpPage.css */

/* 오류 메시지 스타일 */
.sign-form label + input + small {
    color: red;
    display: block;
    margin-top: 4px;
    font-size: 14px;
    padding-bottom: 20px;
}
  